body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 575px;
  height: 385px;
  /* max-width: 80%; */

  background: #1b244a;
}

#home-score {
  position: absolute;
  width: 117px;
  height: 120px;
  left: 100px;
  top: 125px;

  font-family: "Cursed Timer ULiL";
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 127px;
  /* or 141% */

  text-align: center;

  color: #f94f6d;
}

#away-score {
  position: absolute;
  width: 117px;
  height: 120px;
  left: 355px;
  top: 125px;

  font-family: "Cursed Timer ULiL";
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 127px;
  /* or 141% */

  text-align: center;

  color: #f94f6d;
}

#home-title {
  position: absolute;
  width: 149px;
  height: 36px;
  left: 85px;
  top: 68px;

  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  /* identical to box height, or 90% */

  text-align: center;

  color: #eeeeee;
}

#guest-title {
  position: absolute;
  width: 149px;
  height: 36px;
  left: 340px;
  top: 68px;

  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  /* identical to box height, or 90% */

  text-align: center;

  color: #eeeeee;
}

#guest-points {
  position: absolute;
  width: 155px;
  height: 45px;
  left: 337px;
  top: 271px;
}

#home-points {
  position: absolute;
  width: 155px;
  height: 45px;
  left: 82px;
  top: 271px;
}
